@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-marquee {
    animation: marquee 35s linear infinite;
    animation-delay: 1s;
  }
}

@layer utilities {
  .font-headline { font-family: 'Newsreader', serif; }
  .font-body { font-family: 'Plus Jakarta Sans', sans-serif; }
  .font-label { font-family: 'Plus Jakarta Sans', sans-serif; }
}

body {
  margin: 0;
  display: block;
}
